<div class="row">
  <div class="col-md-6">
    <h2>
      <%= service.name %>
      <% unless service.service_type.empty? %>
        <small>Usado para <%= service.service_type %></small>
      <% end %>
    </h2>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <%= link_to edit_service_path(service), class: "btn btn-lg btn-default" do %>
      <span class="glyphicon glyphicon-pencil"></span> Editar Datos
    <% end %>
  </div>
  <%= render partial: '/shared/back', locals: {path: services_path} %>
</div>


