<% provide(:title, @title ) %>
<% provide(:active, 'services' ) %>

<% content_for :body do %>

  <%= render partial: 'details', locals: { service: @service } %>
  
  <h1 class="page-header">Valores</h1>
  
  <%= render partial: 'lines_search', locals: { service: @service }%>
  
  <%= render partial: 'lines', locals: { lines: @lines, service: @service }%>
    
<% end %>


