<% content_for :body do %>
  <div id="new_user">
    <h1 class="cover-heading"><%= @title %></h1>
    
    <%= render partial: 'social_buttons', locals: {services: @services } %>
    
    <%= render partial: 'form', locals: {session: @session } %>
    
  </div>
<% end %>
