<div class="row">
  <div class="col-md-6">
    <h2>
      Version <%= item_version.id %>
      <small><%= I18n.l item_version.created_at, format: :short %></small>
    </h2>
  </div>
</div>

<div class="row">
  <%= render partial: '/shared/back', locals: {path: item_path(item_version.item)} %>
</div>


