<form role="form" action="<%= item_item_version_path(item_version.item, item_version) %>" method="get">
  <div class="form-group">
    <label for="name">Nombre</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Nombre", value="<%= params[:name] %>">
  </div>
  <div class="checkbox">
    <label>
      <%= check_box_tag :inactive, 'on', params[:inactive] == 'on' %> Mostrar Eliminados
    </label>
  </div>
  
  <button type="submit" class="btn btn-default">Buscar</button>
</form>

<hr />

<%= link_to new_item_item_version_item_field_path(item_version.item, item_version), class: "btn btn-lg btn-primary" do %>
  <span class="glyphicon glyphicon-plus"></span> Crear Campo
<% end %>
