<div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
  <%= link_to path.empty? ? back_path : path, class: "btn btn-lg btn-danger" do %>
    <span class="glyphicon glyphicon-arrow-left"></span> Volver
  <% end %>
</div>
