<% if !flash.empty? %>
  <div class="container">
    <% flash.each do |key, value| %>
      <% alert_class = key.to_s %>
      <% alert_class = "info" if alert_class == "notice" %>
      <div class="alert alert-<%= alert_class %>"><%= value %></div>
    <% end %>
  </div>
<% end %>
