<!-- Three columns of text below the carousel -->
<div class="row">
  <div class="col-lg-4">
    <img class="img-circle" alt="140x140" src="<%= asset_path '2x1.jpg' %>" style="width: 140px; height: 140px;">
    <h2>Promo 2 x 1</h2>
    <p>Por todo el mes de Mayo con la compra de tu primer libro, te llevas uno de regalo!</p>
    <p><a class="btn btn-default" href="#" role="button">Ver detalles »</a></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img class="img-circle" alt="140x140" src="<%= asset_path 'tellaboutus.JPG' %>" style="width: 140px; height: 140px;">
    <h2>Promo amigos</h2>
    <p>Por cada compra que realizen tus amigos participa en increibles sorteos automática y gratuitamente!.</p>
    <p><a class="btn btn-default" href="#" role="button">Ver detalles »</a></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img class="img-circle" alt="140x140" src="<%= asset_path '10x100.jpg' %>" style="width: 140px; height: 140px;">
    <h2>Descuentos</h2>
    <p>Con el comienzo del frio nada mejor que la compañia de un buen libro. Aprovecha este descuento antes de terminar stock!</p>
    <p><a class="btn btn-default" href="#" role="button">Ver detalles »</a></p>
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
