<!-- START THE FEATURETTES -->

<hr class="featurette-divider">

<% books.each do |book| %>
  <% current = book.current_version %>
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading"><%= current.value(act_as: 'principal').try(:value) %>
        <span class="text-muted"> Libro de <%= current.value(act_as: 'secondary').try(:value) %></span>
      </h2>
      <p class="lead"><%= current.value(act_as: 'small_description').try(:value) %></p>
    </div>
    <div class="col-md-5">
      <%= item_image(current.value(name: 'tapa'), :main) %>
    </div>
  </div>

<% end %>

<hr class="featurette-divider">

<!-- /END THE FEATURETTES -->
