<form role="form" action="<%= service_path(service) %>" method="get">
  <div class="form-group">
    <label for="key">Clave</label>
    <input type="text" class="form-control" id="key" name="key" placeholder="Clave", value="<%= params[:key] %>">
  </div>
  <div class="checkbox">
    <label>
      <%= check_box_tag :inactive, 'on', params[:inactive] == 'on' %> Mostrar Eliminados
    </label>
  </div>
  <button type="submit" class="btn btn-default">Buscar</button>
</form>

<hr />

<%= link_to new_service_service_information_path(service), class: "btn btn-lg btn-primary" do %>
  <span class="glyphicon glyphicon-plus"></span> Crear Valor
<% end %>
