
<% content_for :body do %>


        <h1 class="page-header"><%= @title %></h1>

        <%= render partial: 'main_buttons', locals: {items: @items} %>

        <%= render partial: 'ultimos_pedidos', locales: @sales %>




<% end %>
