<form role="form" action="/items" method="get">
  <div class="form-group">
    <label for="name"Nombre</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Nombre", value="<%= params[:name] %>">
  </div>
  <div class="checkbox">
    <label>
      <%= check_box_tag :inactive, 'on', params[:inactive] == 'on' %> Mostrar Eliminados
    </label>
  </div>
  <button type="submit" class="btn btn-default">Buscar</button>
</form>

<hr />



<div class="row">
  <div class="col-md-2">
    <%= link_to new_item_path, class: "btn btn-lg btn-primary" do %>
      <span class="glyphicon glyphicon-plus"></span> Crear Item
    <% end %>
  </div>
  <%= render partial: '/shared/back', locals: {path: administrators_path} %>
</div>

