<% provide(:title, @title ) %>
<% provide(:active, 'items' ) %>

<% content_for :body do %>

  <%= render partial: 'details', locals: { item: @item } %>
  
  <h1 class="page-header">Versiones</h1>
  
  <%= render partial: 'lines_search', locals: { item: @item }%>
  
  <%= render partial: 'lines', locals: { lines: @lines, item: @item }%>
    
<% end %>


