<% content_for :navigation do %>
  <%= installation_navigation_bar("active", "", "") %>
<% end %>

<% content_for :body do %>

  <h1 class="cover-heading"><%= @title %></h1>
  <p class="lead">The first time you run Imaginatio Shopcart you will be prompted to create an administration user and to set up some small details about your application.</p>
  <p class="lead">
    <%= link_to "Create User", :installation_step_one, class: "btn btn-lg btn-default" %>
  </p>

<% end %>
