<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Password recovery></h1>
    <p>
      You seem to have forgotten your password.<br>
    </p>
    <p>
      Follow this link once and create a new one: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
